p {
    color: red;


}



#random-button-crystal4 { margin-top: 200px;




}


/*div {
    width: 60px;
    height: 60px;
    margin: 5px;
    float: left;
    background: green;
    border: 10px outset;
    cursor:pointer;
  } ---*/


  
  .crystal-image {
    width: 300px;
    height: 300px;
  }


