body {  margin-top: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;


}


#title {  
        font-size: 60px;
        text-shadow: 1px 1px 1px #000, 
        3px 3px 5px blue; 
        padding-bottom: 10px;




}

p {
    padding-top: 15px; 
    color: black;
    font-size: 20px;
  
    
    background-color:	#D8BFD8;
    text-shadow: 1px 1px 1px #000, 
                     3px 3px 5px grey; 
      


}



#random-button-crystal4 { margin-top: 200px;




}


#number-to-guess { font-size: 100px;



}


#wins-text, #losses-text { font-size: 40px;



}
  


